title=ShinigamiWarehouse
link(rel='stylesheet', href='/adminlte/bootstrap/css/bootstrap.css')
link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
link(rel="stylesheet", href="/font-awesome/css/all.min.css")
link(rel='stylesheet', href='/adminlte/dist/css/AdminLTE.css')
link(rel='stylesheet', href='/adminlte/dist/css/skins/skin-green.min.css')
link(rel='stylesheet', href='/adminlte/plugins/iCheck/square/blue.css')
link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css')
