header.main-header
    a(href='/').logo
        span.logo-mini
            <b>S</b>W
        span.logo-lg
            <b>Shinigami Warehouse</b>
    nav(role='navigation').navbar.navbar-static-top
        a(href='#', role='button', data-toggle='offcanvas').sidebar-toggle.fa6.sidebar-mini
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        div.navbar-custom-menu
            ul.nav.navbar-nav
                
                    li.dropdown.user.user-menu
                        a(href='/logout').btn.btn-danger
                                        | Sign out
                            